@import '../../base-scss/base-styles.scss';

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include widthAndHeight(3rem, 1.5rem);
    border: hidden;
    background-color: transparent;
    position: relative;
    margin: auto 0.5em auto 0.2em;

    & .burger-line {
        width: 2rem;
        border: 1px solid $primary-colour;
    }
}

.visually-hidden {
    @include visuallyHidden;
}