@import '../../base-scss/base-styles.scss';

.card {
    padding: 1em 0.5em;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 3px rgba(black, 0.3);
}

#feedback-modal {
    min-width: 80%;
    max-width: 90%;
    min-height: 40vh;
    border: none;
    position: fixed;
    top: 20%;
    left: 50%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    background-color: #fff;
    color: $text-colour;

    @media (min-width: 600px){
        min-width: 40%;
        max-width: 48%;
    }

    span {
        align-self: flex-end;
        color: red;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 1em;
    }

    svg {
        width: 4.4rem;
        margin-bottom: 1em;
    }

    .feedback-msg {
        width: 85%;
        max-width: 90%;
        text-align: center;
    }
}