@import '../../base-scss/base-styles.scss';

.cleaning-services-container {
    position: relative;
    margin-top: 55px;
    overflow: hidden;

    .cleaning-gallery {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        background-color: darken(#fff, 6%);   

        .row {
            width: calc(85% + 20px);
            display: flex;
            flex-wrap: wrap;
            flex: 0 0 50%;

            @media (min-width: $big-screens){
                width: calc(80% + 30px);
            }

            &:first-of-type {
                margin: 15% 0 3%;

                @media (min-width: $big-screens){
                    margin: 5% 0 3%;
                }
            }

            &:last-of-type {
                margin: 0 0 5%;
            }

            img {
                @include widthAndHeight(calc(50% - 10px), 180px);
                margin: 0 10px 10px 0;
                border-radius: 4px;
                border: 0.5px solid lavender;
                box-shadow: 0 0 10px 3px rgba(black, 0.1);

                @media (min-width: $big-screens){
                    @include widthAndHeight(calc(25% - 10px), 187.9px);
                    margin: 0 10px 0 0;
                }

                @media (max-width: 500px){
                    height: 160px;
                }

                &:nth-of-type(2),
                &:last-of-type {
                    @media (max-width: 769px){
                        margin: 0;
                        width: 50%;
                    }
                }

                &:last-of-type {                    
                    @media (min-width: $big-screens){
                        width: 25%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

#cleaning-services {
    height: 80vh;
    
    @media (min-width: $big-screens){
        height: 88.5vh;
    }

    @media (min-width: $big-screens) and (min-height: 920px){
        height: 62vh;
    }

    @media (max-width: 531px) and (max-height: 760px){
        height: 85vh;
    }

    @media (max-width: 404px){
        height: 100vh;
    }

    h1 {
        position: absolute;
        top: 10%;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        color: #fff;
        text-transform: uppercase;
        width: 90%;

        @media (min-width: $big-screens), (max-width: 404px){
            top: 6%;
        }

        @media (min-width: $big-screens){
            font-size: 1.5em;
        }
    }

    .cleaning-description {
        width: 90%;
        padding: 1em;
        border-radius: 6px;
        position: absolute;
        top: 22%;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #fff;
        box-shadow: 0 0 3px 2px rgba(black, 0.4);

        @media (min-width: $big-screens){
            width: 75%;
            top: 15%;
            padding: 0.8em 0.5em 1em 2.5rem;
        }

        @media (min-width: $big-screens) and (min-height: $tall-screens){
            top: 20%;
        }

        @media (max-width: 404px){
            top: 15%;
        }

        .cleaning-title {
            font-size: 1em;
            margin-bottom: 1em;

            @media (min-width: $big-screens){
                font-size: 1.35em;
            }

        }

        .cleaning-servs-list {
            list-style: none;

            li {
                margin-bottom: 1em;
            }
        }

        .link-button {
            width: 220px;
            margin: 0 auto 1em;
        }
    }
}