@import '../../base-scss/base-styles.scss';

.backdrop {
    @include widthAndHeight(100vw, 100vh);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.6);
    z-index: 100;
}