@import '../../base-scss/base-styles.scss';

.drawer-container {
    @include widthAndHeight(70%, 100vh);
    max-width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    flex-direction: column;
    background-color: #fff;
    transition: opacity 300ms ease-in-out, transform 300ms ease-out;
    transform-origin: 100% 0;
    box-shadow: -2px 1px 5px 3px rgba(black, 0.3);

    .drawer-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        span {
            color: $secondary-colour;
            font-size: 1.1em;
        }

        .close-btn {
            width: 20%;
            border: none;
            background-color: transparent;
            color: $primary-colour;
            font-size: 2.6em;
        }
    }


    .drawer-nav {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(4, 55px);

        li {
            @include widthAndHeight(100%, 100%);

            a,
            span {
                display: flex;
                @include widthAndHeight(100%, 100%);
                align-items: center;
                padding-left: 1em;
                text-decoration: none;
                color: $primary-colour;
            }
        }
    }

    hr {
        @include widthAndHeight(95%, 0);
        margin: 1.5rem auto;
        border: 1.2px solid $primary-colour;
        border-radius: 5px;
    }
}

.drawer-container-exited {
    display: none;
    opacity: 0;
    transform: scale(0);
}

.drawer-container-entering,
.drawer-container-exiting {
    opacity: 0.1;
    transform: scale(0.25);
}

.drawer-container-entered {
    display: flex;
    opacity: 1;
    transform: scale(1);
}